<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Cerca un film</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div class="container">
        <nav style="width: 100%; 
                    display: flex; 
                    justify-content: flex-start;">
            <a href="/" class="main-btn-home">
                <i class="fa-solid fa-house icon"></i> Home
            </a>
        </nav>
        <h1 class="title"><i class="fa-solid fa-magnifying-glass icon"></i> Cerca un film</h1>
        <form method="get" action="/search">
            <div class="supported-questions-card">
              <b><i class="fa-solid fa-film" style="margin-right:0.5em"></i>Domande supportate:</b>
              <ul>
                <li>Elenca i film del &lt;ANNO&gt;.</li>
                <li>Quali sono i registi presenti su Netflix?</li>
                <li>Elenca tutti i film di fantascienza.</li>
                <li>Quali film sono stati fatti da un regista di almeno &lt;ANNI&gt; anni?</li>
                <li>Quali registi hanno fatto più di un film?</li>
              </ul>
            </div>
            <textarea name="question" class="big-textarea" rows="2" placeholder="Scrivi una domanda (es: Elenca i film del 2000.)" required></textarea>
            <button type="submit" class="main-btn-home" style="margin-top:1rem;">
                <i class="fa-solid fa-magnifying-glass icon"></i> Cerca
            </button>
        </form>
        <hr class="divider">

    </div>
</body>
</html>