<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Movie Explorer</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div id="root">
      <div class="container-home">
          <div class="title">Movie Explorer</div>
          <p class="welcome-text">
            Benvenuto!<br>Qui puoi cercare, aggiungere e visualizzare i film presenti nel catalogo.
          </p>
          <nav class="main-nav-home">
              <a href="/form_search" class="main-btn-home">
                <i class="fa-solid fa-magnifying-glass icon"></i> Cerca un film
              </a>
              <a href="/form_add" class="main-btn-home">
                <i class="fa-solid fa-plus icon"></i> Aggiungi/aggiorna film
              </a>
              <a href="/schema" class="main-btn-home">
                <i class="fa-solid fa-database icon"></i> Schema Database
              </a>
          </nav>
      </div>
    </div>
</body>
</html>